.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.quantity-actions {
  display: flex;
  flex-direction: row;
  gap: .75rem;
  align-items: center;

  span {
    font-size: 1.1rem;
    font-weight: bold;
  }
}