<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{product().title}}</mat-card-title>
    <mat-card-subtitle class="price">
      <span>
        {{product().quantity}} x {{product().price | currency : '€' : 'symbol'}} =
        <strong>
          {{product().quantity * product().price | currency : '€' : 'symbol'}}
        </strong>
      </span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions class="actions">
    <div class="quantity-actions">
      <button mat-icon-button aria-label="Decrease quantity" (click)="decrement.emit(product().id)">
        <mat-icon>remove</mat-icon>
      </button>
      <span>{{product().quantity}}</span>
      <button mat-icon-button aria-label="Increase quantity" (click)="increment.emit(product().id)" [disabled]="product().quantity >= product().stock">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <button mat-icon-button aria-label="Remove from cart" (click)="remove.emit(product().id)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>